# Ignore all files inside 'config' and its subdirectories, but keep the folder
config/*
!config/**/

# Ignore all files inside 'data' and its subdirectories, but keep the folder
data/*
!data/**/

# Ignore other large files (optional, if you don't want to upload them)
data/raw_files/Books.

# Ignore Google Cloud Service Account Key
config/service_account/json_key_google_drive.json
